title: Alex Bishop
tagline: A description of my research topics
locale: en_AU

author:
  name: Alex Bishop
  email: "alexbishop1234@gmail.com"
  twitter: AbstractProof
  work_email: "alexander.bishop@uts.edu.au"
  arxiv: "bishop_a_2"
  orcid: "0000-0001-6803-1143"
  github: "alexbishop"
  researchgate: "Alex_Bishop7"
  # address:
  #   - Section de mathématiques
  #   - Université de Genève
  #   - rue du Conseil-Général 7-9
  #   - 1205 Genève, Switzerland

email: alexbishop1234@gmail.com

twitter:
  username: AbstractProof
  creator: AbstractProof

description: >-
  The personal website for Alex Bishop.
  A mathematician who studies topics
  in Geometric Group Theory and Formal Language Theory.
baseurl: ""
url: "https://alexbishop.github.io"

minima:
  skin: auto
  hide_site_feed_link: true
  date_format: "%A, %-d %B %Y"
 
permalink: /blog/:categories/:year/:month/:day/:slug

webmaster_verifications:
  google: "tQo-9SLQ-5vu39gkwKlQgPNSvuO7hnuEoDl_ff4BZGo"

plugins:
  - jekyll-feed
  - jekyll-remote-theme
  - jekyll-redirect-from
  # - jekyll-sitemap

remote_theme: jekyll/minima@93b192192c0777018c9ac4daadaafd5af5a4f750
markdown: kramdown

# Exclude these files from production site
exclude:
  - Gemfile
  - Gemfile.lock
  - LICENSE.txt
  - README.md
  - vendor
