---
layout: page_with_toc
title: Research
description: A brief summary of some of my current research interests in maths.
permalink: /research/

references:
  -
    id: aho1968
    content: >-
      Alfred Aho (1968).
      "Indexed grammars—an extension of context-free grammars".
      Journal of the ACM. 15 (4): 647–671.
      DOI:&nbsp;<a href="https://doi.org/10.1145/321479.321488" target="_blank">10.1145/321479.321488</a>
  -
    id: bishop2021 
    content: >-
      Alex Bishop.
      "Geodesic growth in virtually abelian groups".
      J. Algebra 573 (2021), 760–786.
      DOI:&nbsp;<a href="https://doi.org/10.1016/j.jalgebra.2020.12.003" target="_blank">10.1016/j.jalgebra.2020.12.003</a>
      [Additional link: <a href="https://arxiv.org/abs/1908.07294" target="_blank">arXiv:1908.07294</a>]
  -
    id: bishop2022
    content: >-
      Alex Bishop and
      Murray Elder.
      "A virtually 2-step nilpotent group with polynomial geodesic growth".
      Algebra Discrete Math. 33 (2022), no. 2, 21–28.
      DOI:&nbsp;<a href="http://dx.doi.org/10.12958/adm1667" target="_blank">10.12958/adm1667</a>
      [Additional link: <a href="https://arxiv.org/abs/2007.06834" target="_blank">arXiv:2007.06834</a>]
  -
    id: BBES2012
    content: >-
        Martin Bridson,
        José Burillo,
        Murray Elder and
        Zoran Šunić.
        "On groups whose geodesic growth is polynomial".
        Internat. J. Algebra Comput. 22 (2012), no. 5, 1250048.
        DOI:&nbsp;<a href="https://doi.org/10.1142/S0218196712500488" target="_blank">10.1142/S0218196712500488</a>
        [Additional link: <a href="https://arxiv.org/abs/1009.5051" target="_blank">arXiv:1009.5051</a>]
  -
    id: broennimann2016
    content: >-
      Julie Marie Brönnimann.
      "Geodesic growth of groups".
      Diss. Université de Neuchâtel, 2016.
  -
    id: grigorchuk1984
    content: >-
      R. I. Grigorchuk.
      "Degrees of growth of finitely generated groups and the theory of invariant means".
      Izv. Akad. Nauk SSSR Ser. Mat., 48(5):939–985, 1984
  -
    id: gromov1981
    content: >-
      Mikhael Gromov.
      "Groups of polynomial growth and expanding maps".
      Inst. Hautes Études Sci. Publ. Math., 53:53–73, 1981
  -
    id: milnor1968
    content: >-
      John Milnor.
      "A note on curvature and fundamental group".
      In: J. Differential Geometry 2 (1968), pp.&nbsp;1-7.
      issn: 0022-040X.
      <a href="http://projecteuclid.org/euclid.jdg/1214501132" target="_blank">http://projecteuclid.org/euclid.jdg/1214501132</a>
  -
    id: milnor1968b
    content: >-
      John Milnor.
      "Advanced Problems: 5603".
      In: The American Mathematical Monthly 75.6 (1968),
      pp.&nbsp;685–686. issn: 00029890, 19300972.
      <a href="http://www.jstor.org/stable/2313822" target="_blank">http://www.jstor.org/stable/2313822</a>
  -
    id: svarc1955
    content: >-
      A. S. Švarc,
      "A volume invariant of coverings" (in Russian),
      Doklady Akademii Nauk SSSR,
      vol.&nbsp;105, 1955, pp.&nbsp;32–34. 
---

<h2 id="sec:notation">Notation &amp; Background</h2>

<p>
  Let \(\mathcal{P}\) be some property of groups, for example, abelian, nilpotent, or free.
  A group \(G\) is said to <em>virtually</em> \(\mathcal{P}\) if it has a finite-index subgroup \(H\) with has property \(\mathcal{P}\).
</p>

<p>
  Suppose that \(G\) is a group with finite generating set \(X\).
  Then, we write \(X^*\) for the free monoid generated by \(X\), that is, \(X^*\) is the set of all <em>words</em> which can be spelled using the letter in \(X\).
  For each \(w \in X^*\), we write \(\overline{w}\) for the corresponding element in \(G\), that is, \(w \mapsto \overline{w}\) is a map from \(X^*\) to \(G\).
</p>

<p>
  Now suppose that \(w = w_1 w_2 \cdots w_k \in X^*\) where each \(w_i \in X\), then we define the <em>word length</em> as \(|w|_X = k\).
  This can then be extended to a metric on \(G\) as
  \[
    \ell_X(g)
    :=
    \min\{
      k \in \mathbb{N}
    \mid
      w \in X^* \ \ \text{with}\ \ |w|_X=k\ \ \text{and}\ \ \overline{w}=g
    \}.
  \]
  That is, \(\ell_X(g)\) is the minimal length of a word which represents the element \(g\in G\).
  Note: from this we can show that \(G\) is a metric space with respect to the metric \(d_X(g,h) = \ell_X(g^{-1}h)\).
</p>
<p>
  If \(w\in X^*\) is a word with \(\overline{w}=g\in G\) and \(\ell_X(g) = |w|_X\), then we say that \(w\) is a <em>geodesic</em>.
</p>

<h3 id="sec:notation/history">A brief history of growth:</h3>

<p>
  From the definitions above, we can define the <em>volume growth function</em> of a group as
  \[
    \gamma_X(n) := \#\{
      g \in G
    \mid
      \ell_X(g) \leqslant n
    \}.
  \]
  That is, \(\gamma_X(n)\) counts the number of elements which can be spelled out with words in \(X\) of length at most \(n\).
  We then say that two growth functions \(f(n)\) and \(g(n)\) are equivalent if there exists some constant \(C \geqslant 1\) such that
  \[
    C\cdot f(C\cdot n) \geqslant g(n)
    \quad\text{and}\quad
    C\cdot g(C\cdot n) \geqslant f(n).
  \]
  It is a well-known result, proven independently by Švarc&nbsp;{% include cite.html cites="svarc1955" %} and Milnor&nbsp;{% include cite.html cites="milnor1968" %},
  that the volume growth function \(\gamma_X(n)\) is invariant under change of generating set and <em>quasi-isometry</em> with respect to the above equivalence relation.
  From this, it was noticed that every group known in the 1960's had growth that was either equivalent to a polynomial, or equivalent to an exponential.
</p>

<p>In 1968, Milnor&nbsp;{% include cite.html cites="milnor1968b" %} asked the following two questions:</p>
<ol>
  <li>Is there a characterisation of groups with polynomial growth?</li>
  <li>Are there groups of intermediate growth (i.e.&nbsp;neither polynomial nor exponential)?</li>
</ol>

<p>
  The first of Milnor's questions was answered in 1981 by Gromov&nbsp;{% include cite.html cites="gromov1981" %} who showed that a group has
  polynomial growth if and only if it is <em>virtually nilpotent</em>.
  Milnor's second question was answered in 1984 by Grigorchuk&nbsp;{% include cite.html cites="grigorchuk1984" %} where it was shown that there
  exists a group of intermediate growth.
</p>

<h2 id="sec:geodesic">Topic: Geodesic Growth</h2>

<h3 id="sec:geodesic/definition">Definition</h3>

<p>
  Let \(G\) be a group with finite generating set \(X\), then the <em>geodesic growth function</em> \(a_X(n)\) counts the number of geodesics with length at most \(n\).
  That is,
  \[
    a_X(n)
    :=
    \#\{
      w \in X^*
    \mid
      \ell_X(\overline{w}) = |w|_X \leqslant n
    \}.
  \]
  We then notice that each element of \(G\) has at least one geodesic.
</p>

<p>
  To study the asymptotics of the function \(a_X(n)\), it is often helpful to find nice closed forms for the <em>geodesic growth series</em>
  \[
    A_X(z)
    =
    \sum_{n=0}^\infty
    a_X(n) \, z^n.
  \]
  For example, if \(A_X(n)\) is a rational series (i.e.&nbsp;there are polynomials \(P(z)\) and \(Q(z)\) such that \(A_X(z)=P(z)/Q(z)\)),
  then there would exist finitely many polynomials \(f_1(n)\), \(f_2(n)\), &hellip;, \(f_k(n)\) and a constant \(N \geqslant 0\) such that
  \[
    a_X(n)
    =
    f_1(n) \gamma_1^{-n}
    +f_2(n) \gamma_2^{-n}
    +\cdots
    +f_k(n) \gamma_k^{-n}
  \]
  for all \(n \geqslant N\), where \(\gamma_i\) are the singularities of the series \(A_X(n)\).
</p>

<h3 id="sec:geodesic/defintion">Observation &amp; Examples</h3>

<p>
  The geodesic growth \(a_X(n)\) is bound from below by the volume growth \(\gamma_X(n)\). 
  Thus, if \( a_X(n) \) has a polynomial upper bound, then the group must be a virtually nilpotent group.
</p>

<p>
  Unlike volume growth, geodesic growth function depends heavily on the chosen generating set.
  For example, take the virtually cyclic group
  \[
    \mathbb{Z} \times C_2
    =
    \left\langle
      z,t
    \mid
      t^2 = 1,\ zt=tz
    \right\rangle.
  \]
  A part of the Cayley graph of \(\mathbb{Z} \times C_2\), with respect to the generating set \(X = \{z,z^{-1}, t\}\) is given in Figure&nbsp;<a href="#fig1">1</a>.
  For this generating set, the group has polynomial geodesic growth, in particular,
  \(
    a_X(n)
    =
    n^2+3n
  \)
  for each \(n \geqslant 2 \).
</p>

<figure id="fig1">
  {% include svg/fig1.svg %}
  <figcaption>Figure&nbsp;1:&nbsp;Cayley graph of \(\mathbb{Z}\times C_2\) with respect to generating set \(X = \{z,z^{-1}, t\}\).</figcaption>
</figure>

<p>
  Now consider the group \(\mathbb{Z} \times C_2\), with respect to the generating set \(X = \{zt, z^{-1} t, z, z^{-1}\}\) as in Figure&nbsp;<a href="#fig2">2</a>.
  In this case, the geodesic growth is exponential, in particular,
  \(
    a_X(n) = 2^{n+1}-1
  \).
</p>

<figure id="fig2">
  {% include svg/fig2.svg %}
  <figcaption>Figure&nbsp;2:&nbsp;Cayley graph of \(\mathbb{Z}\times C_2\) with respect to generating set \(X = \{zt, z^{-1} t, z, z^{-1}\}\).</figcaption>
</figure>

<p>
  Thus, when we speak of the geodesic growth of a group, we must always specify a generating set.
</p>

<h3 id="sec:geodesic/literature">Literature</h3>

<p>Two natural questions then arrise:</p>
<ol>
  <li>Is there a characterisation of groups with polynomial geodesic growth?</li>
  <li>Are there groups of intermediate geodesic growth (i.e.&nbsp;neither polynomial nor exponential)?</li>
</ol>

<p>
  The geodesic growth of the nilpotent and virtually abelian groups was studied by Bridson, Burillo, Elder and Šunić&nbsp;{% include cite.html cites="BBES2012" %}.
  In this work, the authors showed that showed that every nilpotent group is either virtually abelian, or has exponential geodesic growth with respect to every generating sets;
  and they gave the first example of a group
  \[
    \mathbb{Z}^2 \rtimes C_2
    =
    \left\langle
    x,y,t
    \mid
    xy=yx, t^2=1, txt=y
    \right\rangle
  \]
  with polynomial geodesic growth (with respect to the generating set \(\{x,x^{-1},y,y^{-1}\}\)) and is not virtually cyclic.
</p>

<p>
  The problem of whether there exists a group of intermediate geodesic growth was studied in the thesis of Brönnimann&nbsp;{% include cite.html cites="broennimann2016" %}.
  In particular, Brönnimann showed that in almost all groups of intermediate growth (which were known at the time), the geodesic growth is exponential for the usual generating set. 
  The one example where Brönnimann's techniques did not work is referred to as the Fabrykowski-Gupta group.
</p>

<h3 id="sec:geodesic/question">Personal Contributions</h3>

<ul>
  <li>Characterised the geodesic growth for virtually abelian groups&nbsp;{% include cite.html cites="bishop2021" %}.<br>
    Main results:
    <ul>
      <li>virtually abelian groups cannot have intermediate geodesic growth;</li>
      <li>for virtually abelian groups,
        the geodesic growth is either exponential with <em>D-finite</em> generating function,
        or polynomial with rational generating function and</li>
      <li>the set of all geodesics of a virtually abelian group forms a <em>blind multicounter language</em>.
    </ul>
    All of the above results hold for every finite (weighted monoid) generating set.
  </li>
  <li>In a joint work with Murray Elder&nbsp;{% include cite.html cites="bishop2022" %}, we showed that there exists a virtually
    2-step nilpotent group with polynomial geodesic growth.
    Previously, it was conjectured that all groups of polynomial geodesic growth were virtually abelian.</li>
</ul>

<h3 id="sec:geodesic/open">Open Problems</h3>

<ul>
  <li>Is the geodesic growth series for the group introduced in&nbsp;{% include cite.html cites="bishop2022" %} rational?</li>
  <li>Is there an intermediate growth group with intermediate geodesic growth?</li>
  <li>Is there a characterisation of groups with polynomial geodesic growth?</li>
  <li>Is there a virtually abelian group without rational geodesic growth?</li>
</ul>

<h2 id="sec:wordprob">Topic: Word Problems &amp; Cogrowth</h2>

<p>
Let \(G\) be a group with generating set \(X\), then the <em>word problem</em> is the set of words
\[
  \mathrm{WP}_X
  :=
  \{
    w\in X^*
  \mid
    \overline{w} = 1
  \}.
\]
That is, \(\mathrm{WP}_X\) is the set of all words which evaluate to the group identity.
</p>

<p>
  The <em>cogrowth series</em> is then the generating function
  \[
    \mathrm{C}_X(z)
    :=
    \sum_{n=0}^\infty c_n z^n
  \]
  where each term \(c_n\) counts the words in \(\mathrm{WP}_X\) with length exactly \(n\).
</p>

<p>
  The <em>coword problem</em> of a group is the complement of the word problem, that is,
  \[
    \mathrm{coWP}_X
    :=
    X^*\setminus \mathrm{WP}_X.
  \]
  That is, \(\mathrm{coWP}_X\) is the set of words which do not evaluate to the group identity.
</p>

<h3 id="sec:wordprob/open">Open Questions</h3>

<ul>
  <li>Is the coword problem for Grigorchuk's (or a similarly defined) context-free language?</li>
  <li>Is the word problem for Grigorchuk's (or a similarly defined)
    group an Indexed language, as defined by Aho&nbsp;{% include cite.html cites="aho1968" %}?</li>
  <li>If a group has a coword problem that is context-free, then is that group a subgroup of Thompson's group V?</li>
  <li>If a group has an algebraic cogrowth series, then is it virtually free?</li>
</ul>

<h2 id="sec.references">References</h2>

{% include bibliography.html %}

