---
layout: page
title: Research
description: A brief summary of some of my current research interests in maths.
permalink: /research/

references:
  -
    id: aho1968
    content: >-
      Alfred Aho (1968).
      "Indexed grammars—an extension of context-free grammars".
      Journal of the ACM. 15 (4): 647–671.
      DOI:&nbsp;<a href="https://doi.org/10.1145/321479.321488" target="_blank">10.1145/321479.321488</a>
  -
    id: bishop2021 
    content: >-
      Alex Bishop.
      "Geodesic growth in virtually abelian groups".
      J. Algebra 573 (2021), 760–786.
      DOI:&nbsp;<a href="https://doi.org/10.1016/j.jalgebra.2020.12.003" target="_blank">10.1016/j.jalgebra.2020.12.003</a>
      [Additional link: <a href="https://arxiv.org/abs/1908.07294" target="_blank">arXiv:1908.07294</a>]
  -
    id: bishop2022
    content: >-
      Alex Bishop and
      Murray Elder.
      "A virtually 2-step nilpotent group with polynomial geodesic growth".
      Algebra Discrete Math. 33 (2022), no. 2, 21–28.
      DOI:&nbsp;<a href="http://dx.doi.org/10.12958/adm1667" target="_blank">10.12958/adm1667</a>
      [Additional link: <a href="https://arxiv.org/abs/2007.06834" target="_blank">arXiv:2007.06834</a>]
  -
    id: BBES2012
    content: >-
        Martin Bridson,
        José Burillo,
        Murray Elder and
        Zoran Šunić.
        "On groups whose geodesic growth is polynomial".
        Internat. J. Algebra Comput. 22 (2012), no. 5, 1250048.
        DOI:&nbsp;<a href="https://doi.org/10.1142/S0218196712500488" target="_blank">10.1142/S0218196712500488</a>
        [Additional link: <a href="https://arxiv.org/abs/1009.5051" target="_blank">arXiv:1009.5051</a>]
  -
    id: broennimann2016
    content: >-
      Julie Marie Brönnimann.
      "Geodesic growth of groups".
      Diss. Université de Neuchâtel, 2016.
  -
    id: grigorchuk1984
    content: >-
      R. I. Grigorchuk.
      "Degrees of growth of finitely generated groups and the theory of invariant means".
      Izv. Akad. Nauk SSSR Ser. Mat., 48(5):939–985, 1984
  -
    id: gromov1981
    content: >-
      Mikhael Gromov.
      "Groups of polynomial growth and expanding maps".
      Inst. Hautes Études Sci. Publ. Math., 53:53–73, 1981
  -
    id: milnor1968
    content: >-
      John Milnor.
      "A note on curvature and fundamental group".
      In: J. Differential Geometry 2 (1968), pp.&nbsp;1-7.
      issn: 0022-040X.
      <a href="http://projecteuclid.org/euclid.jdg/1214501132" target="_blank">http://projecteuclid.org/euclid.jdg/1214501132</a>
  -
    id: milnor1968b
    content: >-
      John Milnor.
      "Advanced Problems: 5603".
      In: The American Mathematical Monthly 75.6 (1968),
      pp.&nbsp;685–686. issn: 00029890, 19300972.
      <a href="http://www.jstor.org/stable/2313822" target="_blank">http://www.jstor.org/stable/2313822</a>
  -
    id: svarc1955
    content: >-
      A. S. Švarc,
      "A volume invariant of coverings" (in Russian),
      Doklady Akademii Nauk SSSR,
      vol.&nbsp;105, 1955, pp.&nbsp;32–34. 
---

<h3>Notation &amp; Background</h3>

<p>
  Let \(\mathcal{P}\) be some property of groups, for example, abelian, nilpotent, or free.
  A group \(G\) is said to <em>virtualy</em> \(\mathcal{P}\) if it has a finite-index subgroup \(H\) with has property \(\mathcal{P}\).
</p>

<p>
  Suppose that \(G\) is a group with finite generating set \(X\).
  Then, we write \(X^*\) for the free monoid generated by \(X\), that is, \(X^*\) is the set of all <em>words</em> which can be spelled using the letter in \(X\).
  For each \(w \in X^*\), we write \(\overline{w}\) for the corresponding element in \(G\), that is, \(w \mapsto \overline{w}\) is a map from \(X^*\) to \(G\).
</p>

<p>
  Now suppose that \(w = w_1 w_2 \cdots w_k \in X^*\) where each \(w_i \in X\), then we define the <em>word length</em> as \(|w|_X = k\).
  This can then be extended to a metric on \(G\) as
  \[
    \ell_X(g)
    :=
    \min\{
      k \in \mathbb{N}
    \mid
      w \in X^* \ \ \text{with}\ \ |w|_X=k\ \ \text{and}\ \ \overline{w}=g
    \}.
  \]
  That is, \(\ell_X(g)\) is the minimal length of a word which represents the element \(g\in G\).
  Note: from this we can show that \(G\) is a metric space with respect to the metric \(d_X(g,h) = \ell_X(g^{-1}h)\).
</p>
 Since each element has at least one geodesic, t
<p>
  If \(w\in X^*\) is a word with \(\overline{w}=g\in G\) and \(\ell_X(g) = |w|_X\), then we say that \(w\) is a <em>geodesic</em>.
</p>

<strong>A brief history of growth:</strong>

<p>
  From the definitions above, we can define the <em>volume growth function</em> of a group as
  \[
    \gamma_X(n) := \#\{
      g \in G
    \mid
      \ell_X(g) \leqslant n
    \}.
  \]
  That is, \(\gamma_X(n)\) counts the number of elements which can be spelled out with words in \(X\) of length at most \(n\).
  We then say that two growth functions \(f(n)\) and \(g(n)\) are equivalent if there exists some constant \(C \geqslant 1\) such that
  \[
    C\cdot f(C\cdot n) \geqslant g(n)
    \quad\text{and}\quad
    C\cdot g(C\cdot n) \geqslant f(n).
  \]
  It is a well-known result, proven independently by Švarc&nbsp;{% include cite.html cites="svarc1955" %} and Milnor&nbsp;{% include cite.html cites="milnor1968" %},
  that(, with respect to the above equivalence relation,) the growth function \(\gamma_X(n)\) is invariant under change of generating set and <em>quasi-isometry</em>.
  From this, it was noticed that every group known in the 1960's had growth that was either equivalent to a polynomial, or equivalent to an exponential.
</p>

In 1968, Milnor&nbsp;{% include cite.html cites="milnor1968b" %} asked the following two questions:
<ol>
  <li>Is there a characterisation of groups with polynomial growth?</li>
  <li>Are there groups of intermediate growth (i.e.&nbsp;neither polynomial nor exponential)?</li>
</ol>

<p>
  The first of Milnor's questions was answered by in 1981 by Gromov&nbsp;{% include cite.html cites="gromov1981" %} who showed that a group has
  polynomial growth if and only if it is <em>virtually nilpotent</em>.
  Milnor's second question was answered in 1984 by Grigorchuk&nbsp;{% include cite.html cites="grigorchuk1984" %} where it was shown that there
  exists a group of intermediate growth.
</p>

<p>
  We note here that Grigorchuk's example sparked a great interest in the study of groups of intermediate growth, and of similarly defined
  groups.
</p>

<h3>Topic: Geodesic Growth</h3>

<p>
  Let \(G\) be a group with finite generating set \(X\), then the <em>geodesic growth</em> is defined as
  \[
    a_X(n)
    :=
    \#\{
      w \in X^*
    \mid
      \ell_X(\overline{w}) = |w|_X \leqslant n
    \}.
  \]
  That is, \(a_X(n)\) counts the number of geodesic words in \(X^*\) with length at most \(n\).
</p>
geodessic
We then ask a modified version of Milnor's questions&nbsp;{% include cite.html cites="milnor1968b" %} for geodesic growth.
That is,
<ol>
  <li>Is there a characterisation of groups with polynomial geodesic growth?</li>
  <li>Are there groups of intermediate geodesic growth (i.e.&nbsp;neither polynomial nor exponential)?</li>
</ol>

<p>
  Since each element has at least one geodesic, that the geodesic growth function is bound from below by the 
  volume growth, that is, \( a_X(n) \geqslant \gamma_X(n) \) for every \(n \geqslant 0\).
  Thus, we see that the geodesic growth is bounded from below by the volume growth.
  From this, we see that every group with polynomial geodesic growth is virtually nilpotent.
</p>

<p>
  The geodesic growth of the nilpotent and virtually abelian groups was studied by Bridson, Burillo, Elder and Šunić&nbsp;{% include cite.html cites="BBES2012" %}.
  In this work, the authors showed that showed that every nilpotent group is either virtually abelian, or has exponential geodesic growth with respect to all generating sets;
  and they gave the first example of a group with polynoial geodesic growth which is not cirtually cyclic (in particular, this example was virtually \(\mathbb{Z}^2\)).
</p>

<p>
  The problem of whether there exists a group of intermediate geodesic growth was studied in the thesis of Brönnimann&nbsp;{% include cite.html cites="broennimann2016" %}
  where many of the groups which were known to have intermediate volume growth were considered.
  In particular, Brönnimann showed that in all examples, except for one, the group geodesic growth is exponential for all generating sets.
  The one example where Brönnimann's techniques did not work is referred to as the Fabrykowski-Gupta group.
</p>

<strong>Personal Contributions</strong>

<ul>
  <li>Characterised the geodesic growth for virtually abelian groups in {% include cite.html cites="bishop2021" %}.
    This showed that virtually abelian groups cannot have intermediate geodesic growth.</li>
  <li>In a joint work with Murray Elder&nbsp;{% include cite.html cites="bishop2022" %}, we showed that there exists a virtually
    2-step nilpotent group with polynomial geodesic growth.
    Previously, it was conjectured that all groups of polynomial geodesic growth all virtually abelian.</li>
</ul>

<strong>Open Questions</strong>

<ul>
  <li>Is there an intermediate growth group with intermediate geodesic growth?</li>
  <li>Is there a characterisation of groups with polynomial geodesic growth?</li>
  <li>Is there a virtually abelian group without rational geodesic growth</li>
</ul>

<h3>Topic: Word Problems &amp; Cogrowth</h3>

<p>
Let \(G\) be a group with generating set \(X\), then the <em>word problem</em> is the set of words
\[
  \mathrm{WP}_X
  :=
  \{
    w\in X^*
  \mid
    \overline{w} = 1
  \}.
\]
That is, \(\mathrm{WP}_X\) is the set of all words which evaluate to the group identity.
</p>

<p>
  The <em>cogrowth series</em> is then the generating function
  \[
    \mathrm{C}_X(z)
    :=
    \sum_{n=0}^\infty c_n z^n
  \]
  where each term \(c_n\) counts the words in \(\mathrm{WP}_X\) with length exactly \(n\).
</p>

<p>
  The <em>coword problem</em> of a group is the complement of the word problem, that is,
  \[
    \mathrm{coWP}_X
    :=
    X^*\setminus \mathrm{WP}_X.
  \]
  That is, \(\mathrm{coWP}_X\) is the set of words which do not evaluate to the group identity.
</p>

<strong>Open Questions</strong>

<ul>
  <li>Is the coword problem for Grigorchuk's (or a similarly defined) groupcontext-free language?</li>
  <li>Is the word problem for Grigorchuk's (or a similarly defined)
    group an Indexed language, as defined by Aho&nbsp;{% include cite.html cites="aho1968" %}?</li>
  <li>If a group has a coword problem that is context-free, then is that group a subgroup of Thompson's group V?</li>
  <li>If a group has an algebraic cogrowth series, then is it virtually free?</li>
</ul>

<h3>References</h3>

{% include bibliography.html %}

