<footer class="site-footer h-card">
  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col">
        <ul class="contact-list">
          {% if site.author.name -%}
            <li class="p-name">{{ site.author.name | escape }}</li>
          {% endif -%}
          {% if site.author.email -%}
            <li><a class="u-email" href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></li>
          {%- endif %}
          {% if site.author.work_email -%}
            <li><a class="u-email" href="mailto:{{ site.author.work_email }}">{{ site.author.work_email }}</a></li>
          {%- endif %}
        </ul>
        <ul class="contact-list">
          {% if site.author.orcid -%}
          <li>ORCID: <a href="https://orcid.org/{{ site.author.orcid }}" title="orcid" target="_blank">{{ site.author.orcid }}</a></li>
          {%- endif %}
          {% if site.author.arxiv -%}
          <li>arXiv: <a href="https://arxiv.org/a/{{ site.author.arxiv }}" title="Personal arXiv link" target="_blank">{{ site.author.arxiv }}</a></li>
          {%- endif %}
          {% if site.author.github -%}
          <li>GitHub: <a href="https://github.com/{{ site.author.github }}" title="Github profile" target="_blank">{{ site.author.github }}</a></li>
          {%- endif %}
        </ul>
      </div>
      <div class="footer-col">
        {{% if site.author.address -%}}
        {% for line in site.author.address -%}
        {{% if forloop.first %}}<strong>Address:</strong>{{% endif -%}}
          <br>{{ line | escape }}
        {%- endfor %}
        {{%- endif %}}
      </div>
    </div>

    <div class="social-links">
      {%- include social.html -%}
    </div>

  </div>

</footer>
