
<div class="fixed-top">
<div id="custom-navbar-wrapper" class="custom-navbar-wrapper-expanded">

<nav class="navbar navbar-light navbar-expand-md justify-content-center">

    <a href="/" class="navbar-brand mr-auto">{{ site.title }}</a>

    <button class="navbar-toggler" aria-label="toggle navigation bar" type="button" data-toggle="collapse" data-target="#navbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="navbar">
        <ul class="nav navbar-nav ml-auto justify-content-end">

        {%- for link in site.navbar-links -%}
        {% if link[1].first -%}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
              {{ link[0] }}
            </a>
            <div class="dropdown-menu">
              {% for childlink in link[1] %}
                {% for linkparts in childlink -%}
                  <a class="dropdown-item" href="{{ linkparts[1] }}">{{ linkparts[0] }}</a>
                {% endfor -%}
              {% endfor -%}
            </div>
          </li>
        {% else %}
          <li>
            <a class="nav-link" href="{{ link[1] }}">{{ link[0] }}</a>
          </li>
        {% endif -%}
        {% endfor -%}

        </ul>
    </div>

</nav>

<div id="avatar-wrapper" class="avatar-container">
{%- if page.show-avatar %}
  <div>
    <a href="/">
      {% avatar {{ site.social-network-links.github }} size=100 %}
    </a>
  </div>
{% endif -%}
</div>

</div>
</div>









<div class="hideme" aria-hidden="true">
<div class="custom-navbar-wrapper-expanded">

<nav class="navbar navbar-light navbar-expand-md justify-content-center" aria-hidden="true">

    <a href="/" class="navbar-brand mr-auto" aria-hidden="true">{{ site.title }}</a>

    <button class="navbar-toggler" aria-label="toggle navigation bar" type="button" aria-hidden="true">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" aria-hidden="true">
        <ul class="nav navbar-nav ml-auto justify-content-end" aria-hidden="true">

        {%- for link in site.navbar-links -%}
        {% if link[1].first -%}
          <li class="nav-item dropdown" aria-hidden="true">
            <a class="nav-link dropdown-toggle" href="#" aria-hidden="true">
              {{ link[0] }}
            </a>
            <div class="dropdown-menu" aria-hidden="true">
              {% for childlink in link[1] %}
                {% for linkparts in childlink -%}
                  <a class="dropdown-item" href="{{ linkparts[1] }}" aria-hidden="true">{{ linkparts[0] }}</a>
                {% endfor -%}
              {% endfor -%}
            </div>
          </li>
        {% else %}
          <li>
            <a class="nav-link" href="{{ link[1] }}" aria-hidden="true">{{ link[0] }}</a>
          </li>
        {% endif -%}
        {% endfor -%}

        </ul>
    </div>

</nav>

<div class="avatar-container">
{% if page.show-avatar -%}
  <div>
    <a href="/" aria-hidden="true">
      {% avatar {{ site.social-network-links.github }} size=100 %}
    </a>
  </div>
{% endif -%}
</div>

</div>
</div>

<div class="navbar-after-padding"></div>


