figure {
  display: block;
  text-align: center;

  svg {
    width: 100%;
    @media screen and (min-width: $on-medium) {
      width: 50%;
    }
  }
}

img.photo50 {
  max-width: 100%;
  @media screen and (min-width: $on-medium) {
    max-width: 50%;
  }
}

