---
layout: post
title:  "Benson Polyhedral Sets"
date:   2023-03-19 19:14:41 +0100

references:
  -
    id: Benson1983 
    content: >-
      Benson, M. "Growth series of finite extensions of \(\mathbb{Z}^n\) are rational."
      Invent Math 73, 251–269 (1983).
      <a href="https://doi.org/10.1007/BF01394026" target="_blank">https://doi.org/10.1007/BF01394026</a>
---

<p>
  In this post, we will see all the details of the proof that the class of <em>Benson polyhedral</em> and <em>semilinear sets</em> are equivalent.
  Moreover, we will see that semilinear sets have rational multivariate generating functions.
</p>

<h2>Definitions</h2>

<p>A set subset of \(\mathbb{Z}^k\) is called <em>semilinear</em> if it can be written as a finite union of <em>linear</em> sets of the form
\[
  L(\vec u,\{\vec v_1,\vec v_2,...,\vec v_p\})
  =
  \{
    \vec u + k_1 \vec v_1 + k_2 \vec v_2 + \cdots + k_p \vec v_p
  \mid
    k_1,k_2,...,k_p\in \mathbb{N}
  \}
\]
  where \(\vec u,\vec v_1,...,\vec v_p \in \mathbb{Z}^k\). {% include cite.html cites="is1" %}
</p>

<h2>References</h2>

{% include bibliography.html %}
