---
layout: base

type: "post"
---

<article>

  {% include header.html type="post" %}

  <div class="container">
  <div>
    <div>
      {{ content }}
    </div>
  </div>
  </div>

</article>

<div class="container">
  <div>
    <div>

      {% if page.tags.size > 0 %}
        <div class="blog-tags">
          Tags:
          {% if site.link-tags %}
          {% for tag in page.tags %}
            <a href="/blog/tags#{{- tag -}}">{{- tag -}}</a>
          {% endfor %}
          {% else %}
            {{ page.tags | join: ", " }}
          {% endif %}
        </div>
      {% endif %}

      {% if page.social-share %}
        {% include social-share.html %}
      {% endif %}

      <ul class="pager blog-pager">
        {% if page.previous.url %}
        <li class="previous">
          <a href="{{ page.previous.url | absolute_url }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}" rel="previous">&larr;&nbsp;Previous&nbsp;Post</a>
        </li>
        {% endif %}
        {% if page.next.url %}
        <li class="next">
          <a href="{{ page.next.url | absolute_url }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}" rel="next">Next&nbsp;Post&nbsp;&rarr;</a>
        </li>
        {% endif %}
      </ul>

    </div>
  </div>
</div>

